
.material-icons{cursor: pointer;}
@charset "UTF-8";
md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 200px !important;
} 
body {
	padding-top: 60px
}
md-select{
  max-width: 400px;
}
abbr[title] { text-decoration: underline; text-decoration: underline dotted; }
a {text-decoration: none}

svg:not(:root) { overflow: hidden; }

* { margin: 0; padding: 0; }


svg { fill: currentColor; }

html, body { overflow-x: hidden; position: relative; }
/* 個別の設定
- - - - - - - - - - - - - - - - - - - */
/* HTMLの設定 */

/* Rules for icon sizes: */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/* 基本のフォント設定 */


header { width: 100%; padding: 10px; background: #fff; border-bottom: 1px solid #eee; display: table; table-layout: fixed; position: fixed; top: 0; left: 0; z-index: 2; }
header > * { display: table-cell; vertical-align: middle; }
header .left { text-align: left; }
header .right { text-align: right; }

  /*==================================================================================== ヘッダーの設定 ====================================================================================*/
  header { border-top: 0px; }
  /*==================================================================================== ヘッダーとコンテンツの間の設定 ====================================================================================*/
  /*------------------------------------------ News ------------------------------------------*/
  .menuBardemoBasicUsage .page-container {
  padding: 32px; }

.menuBardemoBasicUsage .page {
  margin: 0 auto;
  padding: 24px;
  max-width: 680px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); }

.menuBardemoBasicUsage .page h1 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 0;
  font-weight: normal; }

.menuBardemoBasicUsage .page p {
  line-height: 1.6rem; }

* {
	box-sizing: border-box;
}
.md-button[disabled] span{
  color : rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
a #follow-button .btn{
	width:200px;
}
[class *="col-"]{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.staff-name {
     width:400px !important;
}
.project-name {
     width:300px !important;
}
.shop-name {
     width:300px !important;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-13 {width: 45.5%;}


@media only screen and (min-width:952px) {
	[class *="col-"]{
                float: left;
                padding: 0px;
        }
	.col-6 {width: 50%;}
        .col-3 {width: 30%; min-width:300px}
        .col-13 {width: 65%;}
        .searchTitle{
                left: 90%;
        }
        .wni-logo{
                left: 5%;
        }
	#langEN{
		left: 72%;
	}
	#langJP{
		left : 83%;
	}

	
}

th{ cursor: pointer; }
#wni-header{
        position : fixed;
        height : 56px;
        background-color: white;
        z-index : 3;
	border-bottom: 1px solid #eee;
		left :0px;
}
.title{
	font-size:30px;
	cursor:pointer;
	position : relative;
	top : 15px;
	left : 20px;
	-webkit-font-smoothing: antialiased;
}
.wni-logo{
	position : relative;
	top : 8px;
	height : 40px;
}
#langEN{
        position: absolute;
	height : 40px;
        padding-bottom : 5px;
        padding-left : 10px;
        padding-right : 10px;
	text-decoration: none;
	display : block;
}

#langJP{
        position: absolute;
	height : 40px;
        padding-bottom : 5px;
	padding-left : 10px;
	padding-right : 10px;
	text-decoration: none;
	display : block;
}
#langJP:hover, #langEN:hover {
        border-bottom: 4px solid #8bc34a;
	text-decoration: none;
}

.wni-rightMenu{
	position : relative;
	top : -31px;
	cursor : pointer;
	color : #757575;
	font-weight: 700;
	font-size : 14px;
	text-transform: uppercase;
}


header .material-icons {
	position: absolute;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	padding : 0px;

/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;

/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

/* Support for IE. */
	font-feature-settings: 'liga';
}

ul{
	padding-left: 15px;
	padding-bottom: 5px;
}
ol{
	padding-left: 15px;
	padding-bottom: 5px;
}
li{
	padding-left: 5px;
	padding-top: 5px;
}
*:disabled{
	color: black !important;
	opacity:100 !important;

}
.addReview{
	border-color: #0B4199;border-style: solid;background-color: white;padding:0px 20px;
}
.addReview .saveButton{
	position:fixed;top:70px;right:24px;z-index: 4;
}
.addReview .saveButton .md-button{
	background-color: #0B4199;color: white;
}
.content{
	border-color: #0B4199;border-style: solid;background-color: white;padding:0px 20px;
}
md-list{
	background-color: white;
}
.content .saveButton{
	position:fixed;top:70px;right:24px;z-index: 4;
}
.content .saveButton .md-button{
	background-color: #0B4199;color: white;
}
.projectManager, .reviewMember{
	padding:10px;font-weight:800;margin-top: -20px;margin-bottom: 20px;color:brown;
}

.manual{
	padding-left: 20px;background: white;border-style:solid;border-color:#0B4199;margin-bottom: 20px;border-radius: 5px;
}
.manual h1{
	padding: 10px 0px; color: #0B4199;
}
.red{
	color: red;
}
button .save:hover{
	color: #0B4199; background-color: white;
}
.forget{
	font-size: 11px; margin-left: 90px; font-weight: 800;
}
.login{
	margin-left: 10px; font-weight: 800;
}
.form_title{
	width: 280px;margin-left: -23px;margin-top:-3px;padding: 20px;background-color: #0B4199;color: white;font-weight: 800;display: -webkit-box;display: -webkit-flex;display: flex;border-radius: 3px;
}
.custom-combobox {
		position: relative;
		display: inline-block;
	}
	.custom-combobox-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
	}
	.custom-combobox-input {
		margin: 0;
		padding: 5px 10px;
	}
.comments{
	max-width:90%;
}