<md-dialog aria-label="Load data">
 <md-dialog-content>

<div layout-gt-xs="row">
  <md-input-container style="margin-top:20px; margin-bottom: 0px;" flex-gt-md>
              <label>{{ 'START_DATE' | translate }}</label>
              <md-datepicker   ng-model="vm.startDateParam"  md-max-date="vm.endDateParam" required></md-datepicker>
            </md-input-container>
             <md-input-container  style="margin-top:20px; margin-bottom: 0px;" flex-gt-md>
              <label>{{ 'END_DATE' | translate }}</label>
              <md-datepicker  ng-model="vm.endDateParam" md-min-date="vm.startDateParam" required></md-datepicker>
        </md-input-container>
      
  </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
      
      <md-button ng-click="vm.loadData()">
       {{ 'GO' | translate }}
      </md-button>
      <md-button ng-click="vm.cancel()" >
         {{ 'CANCEL' | translate }}
      </md-button>
    </md-dialog-actions>
  </md-dialog>