<!DOCTYPE html>
<html ng-app="main">
<head>
  
<base href="/easyreview/">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="apple-touch-icon" sizes="57x57" href="assets/icon_fav/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/icon_fav/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/icon_fav/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/icon_fav/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/icon_fav/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/icon_fav/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/icon_fav/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/icon_fav/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/icon_fav/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/icon_fav/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/icon_fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/icon_fav/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/icon_fav/favicon-16x16.png">
<link rel="manifest" href="assets/icon_fav/manifest.json">
<link rel="shortcut icon" href="assets/icon_fav/favicon.ico" type="image/x-icon">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="assets/icon_fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
  <title>EasyReview</title>
   <!-- build:css -->
  <!-- endinject -->
  <!-- bower:css -->
  <!-- endbower -->
  
 
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="google-signin-client_id"
  content="708429447572-i3chgu26nfh79i5gg8sss95jktvr85vb.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>
  <!-- inject:css -->
  <!-- endinject -->
  
</head>
<header>
  <logo></logo>
</header>
<body ng-controller="MainController as vm" style="visibility: hidden;">

<div ng-controller="AppCtrl as sideCtrl" layout="column" style="height:100%;" ng-cloak>

  <section layout="row" flex>

    <!--md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
      md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4"-->
  <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
     
        md-whiteframe="4">
      <md-toolbar layout="row"  layout-align="center center"

        ng-controller="LeftCtrl" class="md-theme-indigo">

        <h1 class="md-toolbar-tools">{{'MENU'|translate}}</h1>
        <i ng-click="close()"  class="material-icons">close</i>
        <div>&nbsp&nbsp&nbsp&nbsp&nbsp</div>
 

      </md-toolbar>
     <md-content layout-padding >
       
      <md-list flex>
        
        <md-list-item  ng-repeat="item in sideCtrl.data" href={{item.href}} class="md-3-line"  ng-click="null">
         
          <div  layout="row"  layout-align="left center" class="md-list-item-text" layout="column">
            <i  class="material-icons" >{{item.icon}}</i>
            <div>&nbsp&nbsp&nbsp</div>
            <h3>{{item.name}}</h3> 
          </div>
          
        </md-list-item>
        
       
      </md-list>
   
        <p hide show-gt-md>
     

        </p>
      </md-content>

    </md-sidenav>

    <md-content flex layout-padding>

      <div layout="column" layout-align="top center">
        
        
      <div flex style="width: 100%">
      <!--main-page></main-page-->
      <ng-view></ng-view>
    </div>

    </md-content>

   

  </section>

</div>

   <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->

  <!-- build:js -->
  <!-- endinject -->

</body>
</html>
