
<div >
    
    <table datatable="ng" class="row-border hover" style="width: 100%">
        <thead>
        <tr>
            <th>No</th>
            <th>{{'DATE'|translate}}</th>

	    <th>{{'REVIEWER'|translate}}</th>
	    <th>{{'SHOP'|translate}}</th>
	    <th>{{'PROJECT'|translate}}</th>
	    <th>{{'DEVELOPMENT'|translate}}</th>
	    <th>{{'TYPE'|translate}}</th>
	    <th>{{'LOCATION'|translate}}</th>
	    <th>{{'COMMENT'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="review in vm.review" ng-click="vm.reviewSelect(review.id)">
            <td> <md-checkbox ng-checked="review.selected"></md-checkbox></td>
            <td>{{ review.date }}</td>
            <td><span ng-repeat="review in review.reviewer">{{persion.name}}</span></td>
            <td>{{ review.shop }}</td>
            <td>{{ review.project }}</td>
            <td>{{ review.development}}</td>
            <td>{{ review.type }}</td>
            <td>{{ review.location}}</td>
            <td>{{ review.comment }}</td>
        </tr>
        </tbody>
    </table>
</div>

