
<div >
    
    <table datatable="ng" class="row-border hover">
        <thead>
        <tr>
            <th>No</th>
            <th>Date</th>

	    <th>Reviewer</th>
	    <th>Shop</th>
	    <th>Project</th>
	    <th>Development</th>
	    <th>Type</th>
	    <th>Location</th>
	    <th>Comment</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="review in vm.project">
            <td>{{ review.id }}</td>
            <td>{{ review.review_date }}</td>
            <td><span ng-repeat="review in review.reviewer">{{persion.name}}</span></td>
            <td>{{ review.shop.shop_name }}</td>
            <td>{{ review.project.project_name }}</td>
            <td>{{ review.development.development_detail}}</td>
            <td>{{ review.review_type.review_type_name }}</td>
            <td>{{ review.review_location.meeting_space_code}}</td>
            <td>{{ review.review_comment }}</td>
        </tr>
        </tbody>
    </table>
</div>

