
<section id="reviewPage" >

<md-whiteframe  style="margin-bottom: -30px;" class="" flex-sm="400" flex-gt-sm="400" flex-gt-md="400" layout layout-align="center center">
  <!--<div layout-align="center" style="background-color: white; height: 50px; width: 500px;"> -->
  <div layout-gt-xs="row">
    <!--md-input-container  flex-gt-xs>
     <label>Search</label>
     <input ng-model="vm.reviewAnyText"  id="review_search" type="text">
    </md-input-container-->
    <md-checkbox aria-label="check" ng-checked="vm.dateFilter"   ng-click="vm.toggleDateFilter(false)"></md-checkbox>  
      <md-button md-no-ink class="md-primary" ng-click="vm.changeday(-1)">
        <i class="material-icons">&#xE045;</i>
      </md-button>
      <md-input-container style="margin-top:20px; margin-bottom: 0px;">
        <label>Date filter</label>
        <md-datepicker ng-model="vm.reviewDate"  onkeydown="return false" ng-change="vm.datatableSearch(vm.reviewDate)">
        </md-datepicker>
      </md-input-container>
      <md-button md-no-ink class="md-primary"  ng-click="vm.changeday(1)">
        <i class="material-icons">&#xE044;</i>
      </md-button>
  <!--</div> -->
  </div>
  
</md-whiteframe>
 
    <table id="reviewTable" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions" class="row-border hover" style="width: 100%; height:100%">
        <thead style="background-color:#053F8F; color: white">
        <tr>
            <th> <div><md-menu>
            
            <i ng-click="$mdOpenMenu()" class="material-icons">playlist_add</i>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="vm.gotoAddPage()">
                  {{'ADD'|translate}}
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              
              <md-menu-item>
                <md-button ng-disabled="!vm.checkSelected()"  ng-click="vm.gotoEditPage()">
                 {{'EDIT'|translate}}
                </md-button>
              </md-menu-item>
              
              <md-menu-item>
                <md-button ng-disabled="!vm.checkSelected()" ng-click="vm.deleteReview()">
                  {{'DELETE'|translate}}
                  
                </md-button>
              </md-menu-item>
               <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button  ng-click="vm.loadMoreReview($event)">
                  {{'LOADMORE'|translate}}
                  
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          </div>
                </th>

	    <th>{{'DATE'|translate}}</th>
      <th>{{'LOCATION'|translate}}</th>
	    <th>{{'DEVELOPMENT'|translate}}</th>
	    <th>{{'TYPE'|translate}}</th>
	    <th>{{'MANAGER'|translate}}</th>
	    <th>{{'REVIEWER'|translate}}</th>
      <th>{{'ACTION'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="review in vm.review "   ng-click="vm.reviewSelect(review.id)"  >
            <td style="vertical-align: top"> <md-checkbox aria-label="check" ng-checked="review.selected"></md-checkbox></td>
            <td style="vertical-align: top">{{ review.date|date:'yyyy-MM-dd  (HH:mm)' }}</td>
             <td style="vertical-align: top">{{ review.location}}</td>
            <td style="vertical-align: top">[{{review.development||'NONE'|translate}}]&nbsp{{ review.title}} </td>
            <td style="vertical-align: top">{{ review.type_code }}</td>
            <td style="vertical-align: top"><div ng-repeat="manager in review.manager track by $index">{{ manager}}<br></div></td>
            <td style="vertical-align: top"><div ng-repeat="rev in review.reviewers track by $index">{{ rev }}<br ng-show="$index>0"></div></td>
            <td style="vertical-align: top" ng-click="vm.gotoContentPage(review.id)">&nbsp&nbsp&nbsp<i class="material-icons">launch</i></td>
        </tr>
        </tbody>
    </table>
</section>

